*{
    margin: 0;
    padding:0;
    /* background-color: black; */
}

header{
    background-color: black;
    padding: 3vh;
}

nav a:hover{
    background-color:blue;
    border-radius: 2vh;
    text-decoration: underline;

}

#home, #about, #contact{
    padding: 2vh;
    margin: 2vh;
    /* margin-top: 4vh; */
}
.sample{
    height: 6vh;
    font-size: larger;
    color:white;
}

.content{
    margin:3vh;
    text-align: center;
}

section{
    height: 60vh;
    background-position: cover;
    margin-bottom: 33vh;
    
}

.quote{
    padding: 15px;
    color: white;
    width: 40vh;
    height: 35vh;
    border: 2px solid black;
}



img {
    width: 100%;
  height: 89.8vh;
  object-fit: cover;
  }

.content{
    position: relative;
    /* top: 80%; */
}

.container1{
    /* position:absolute; */
    /* background-color: black; */
    background-color:green;
    /* display: inline-flex; */
    display: inline-table;
    margin-top: 4vh;
    margin-bottom: 4vh;
    /* margin: 4vh; */
    margin-left: 12vh;
    /* padding: 4vh; */
    width: 50vh;
    height: 45vh;
    border: 2px solid black;
    border-color: black;
    border-radius: 5px; 
}

.container1 img{
  width: 50vh;
  height: 24vh;
}

.container1 p{
  font-size:20px;
  font-weight: bold;
}

.content1{
    margin-left: 36vh;
    float: left;
    /* margin: 3vh; */
    padding: 3vh;
    /* display:flexbox; */
    color: black;
}

footer{
    width: 100%; 
     bottom: 0; 
    left: 0;
    right: 0;
    background: #111;

  }
  footer .content{
          background: #111;

    max-width: 1300px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #eb2f06;
  }

  footer .bottom{
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 0 40px 5px 500px;
  }
  footer .bottom a{
    color: #eb2f06;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #eb2f06;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
  }